*.jpg
*.jpeg
/eval_phrases
/eval_phrases_1
/eval_phrases_2
/eval_phrases_3
/eval_phrases_4
/eval_phrases_5
/eval_phrases_6
/eval_phrases_7
/eval_phrases_8
/eval_phrases_9
/eval_phrases_martinet
/runs
/outputs_assocphrases
*.pdf